<div class="red" (click)="handlerClick($event)">
  Hello {{name}}
</div>

<!-- NUNCA ESCRIBIR EXPRESIONES EN EL CODIGO HTML -->
<p>The sum of 1 + 1 is {{1 + 1}}.</p>

<div *ngIf="condition">Hello ngIf</div>

<!--<div *ngFor="let item of items">{{item}}</div>-->

<!--(@input el hijo recibe) del padre al hijo con []
          HIJO  PADRE-->
<app-hijo [items]="items" (eventItem)="handlerItem($event)">HELLO WORLD!!!</app-hijo>

<!--(@output del hijo al padre con (eventItem) )-->

<div>
  <p>Lista de post</p>
  <app-error></app-error>
  <div *ngFor="let post of posts">
    <div>{{post.id}}</div>
    <div>{{post.title}}</div>
    <div>{{post.author}}</div>
  </div>
</div>
